.container{
  height: 80px;
  width: 100%;
  display: grid;
  background-color: rgba(0, 0, 0, 1);
}

.app_name{
  display: inline-block;
  margin-left: 10%;
  line-height: 80px;
  font-size: 40px;
  color: white;
}
